In [1]:
import pandas as pd
import numpy as np

In [2]:

technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [3]:

# Difine Dict with the key-value pair to remap.
dict = {"Spark" : 'S', "PySpark" : 'P', "Hadoop": 'H', "Python" : 'P', "Pandas": 'P'}
dict

{'Spark': 'S', 'PySpark': 'P', 'Hadoop': 'H', 'Python': 'P', 'Pandas': 'P'}

In [4]:

# Difine Dict with the key-value pair to remap.

df2=df.replace({"Courses": dict})
print(df2)

  Courses    Fee Duration  Discount
0       S  22000   30days      1000
1       P  25000   50days      2300
2       H  23000   30days      1000
3       P  24000     None      1200
4       P  26000      NaN      2500

In [5]:

df2=df.replace({"Courses": dict})
print(df2)

  Courses    Fee Duration  Discount
0       S  22000   30days      1000
1       P  25000   50days      2300
2       H  23000   30days      1000
3       P  24000     None      1200
4       P  26000      NaN      2500

In [6]:

# Remap Multiple Columns with Same Value


df = pd.DataFrame(technologies)
remap_values = {"Courses" : 'Spark', "Duration" : '30days'}
df.replace(remap_values,value='--',inplace=True)
print(df)

   Courses    Fee Duration  Discount
0       --  22000       --      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000       --      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

## Exhaustive Mapping

# 

dict = {"Spark" : 'S', "PySpark" : 'P', "Hadoop": 'H', "Python" : 'P', "Pandas": 'P'}

In [7]:
#Using exhaustive map() dict
df = pd.DataFrame(technologies)
df["Courses"]=df['Courses'].map(dict)
print(df)

  Courses    Fee Duration  Discount
0       S  22000   30days      1000
1       P  25000   50days      2300
2       H  23000   30days      1000
3       P  24000     None      1200
4       P  26000      NaN      2500

#

In [8]:
word_freq = {'male'   : ['koosha' , 'pooya', 'hamid' ] , 'female'   : ['zahra' , 'mahsa' , 'manizhe']
             }
word_freq

{'male': ['koosha', 'pooya', 'hamid'], 'female': ['zahra', 'mahsa', 'manizhe']}

In [9]:
list(word_freq.values())

[['koosha', 'pooya', 'hamid'], ['zahra', 'mahsa', 'manizhe']]

In [10]:
list(word_freq.values())[0]

['koosha', 'pooya', 'hamid']

In [11]:
list(word_freq.values())[0][0]

'koosha'

In [12]:
for i in list(word_freq.values()):
    print('zahra' in i)

False
True

In [14]:
len(word_freq.values())

2

In [28]:
# creating a new dictionary
my_dict ={"Java":100, "Python":112, "C":11}

# one-liner
print(list(my_dict.keys())[list(my_dict.values()).index(100)])

Java

In [21]:
list(word_freq.values())

[['koosha', 'pooya', 'hamid'], ['zahra', 'mahsa', 'manizhe']]

In [13]:
list(word_freq.keys())[0]

'male'

In [41]:
for i in list(word_freq.values()):
    if 'koosha' not in i:
        continue
    else :
        print(list(word_freq.keys())[list(word_freq.values()).index(i)])

male

In [ ]:
    else:
        print('NULL')